@using LoreCreator.LocalizationFiles
@using LoreCreator.Services
@using SharedForLoreCreator.Models
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="/js/langSelector.js"></script>
    <script src="/js/elementEditor.js"></script>
    @RenderSection("Script", false)
    @if (User.Identity.IsAuthenticated)
    {
        @RenderSection("AuthScript", false);
    }
</head>
<body>
    <header>
        <a asp-controller="LoreCreator" asp-action="Index">LoreCreator MEAW!!!</a>
    </header>
    <div>
        @if(User.Identity.IsAuthenticated)
        {
            var permissions = User.Claims.FirstOrDefault(x => x.Type == "permissions").Value.Split(' ').ToList().ConvertAll(x => (PermissionTypes)int.Parse(x));
            if(permissions is not null)
            {
                if (permissions.Contains(PermissionTypes.AddConnection))
                {
                    <a asp-controller="LoreCreator" asp-action="AddConnection">@LCL.AddConnection</a>
                }
                if (permissions.Contains(PermissionTypes.AddElement))
                {
                    <a asp-controller="LoreCreator" asp-action="AddElement">@LCL.AddElement</a>
                }
                if (permissions.Contains(PermissionTypes.AddTag) && permissions.Contains(PermissionTypes.AddConnectionType))
                {
                    <a asp-controller="LoreCreator" asp-action="AddTagOrConnectionType">@LCL.AddTagOrConnType</a>
                }
            }
            <a asp-controller="Auth" asp-action="Profile">@LCL.Profile</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Registration">@LCL.Registration</a>
            <a asp-controller="Auth" asp-action="Login">@LCL.Login</a>
        }
        @{
            string language = Supporter.GetCurrentUserLanguage();
            SelectList languageList = new(Supporter.Languages);
            int i = 0;
            foreach(var lang in languageList)
            {
                lang.Value = i.ToString();
                i++;
                if (lang.Text == language) lang.Selected = true;
                lang.Text = Supporter.GetNameOfLanguage(lang.Text);
            }
            
        }
        <form method="post" asp-controller="Auth" asp-action="SetLang">
            <input id="setLangSubmit" type="submit" style="display: none;" />
            @Html.DropDownList("language", languageList)
        </form>
    </div>
    @RenderBody()
    <div>
    @LCL.Meow
    </div>
</body>
</html>